<div class="button-flex">
  <div>
    <mat-button>
    <button mat-raised-button
      class="button-room"
      color="primary"
      type="submit"
      (click)="getEvents(1)"
    >
      комната 1
    </button>
  </mat-button>

  </div>
  <div>
    <mat-button>
    <button mat-raised-button
    type="submit"
    color="primary"
    class="button-room" (click)="getEvents(2)">
      комната 2
    </button>
  </mat-button>
  </div>
  <div>
    <mat-button>
    <button mat-raised-button
    type="submit" color="primary"
    class="button-room" (click)="getEvents(3)">
      комната 3
    </button>
  </mat-button>
  </div>
</div>

<div *ngIf="showInputForm" class="forms-and-output">
  <div>
    Начало
    <form [formGroup]="timeEvent">
      <div>
        <mat-form-field class="title">
        <input matInput
          formControlName="start"
          mdc-datetime-picker=""
          date="true"
          time="true"
          type="text"
          id="datetimeedit"
          placeholder="YYYY-MM-DD HH:MM"
          show-todays-date=""
          minutes="true"
          min-date="minDate"
          max-date="maxDate"
          edit-input="true"
          show-icon="true"
          ng-model="dateTimeEdit"
          name="datetimeedit"
          class=" dtp-no-msclear dtp-input md-input"
        />
      </mat-form-field>
      </div>
      <div>
        <div>
          Конец
        </div>
        <mat-form-field class="title">
        <input
          matInput
          formControlName="end"
          mdc-datetime-picker=""
          date="true"
          time="true"
          type="text"
          id="datetimeedit"
          placeholder="YYYY-MM-DD HH:MM"
          show-todays-date=""
          minutes="true"
          min-date="minDate"
          max-date="maxDate"
          edit-input="true"
          show-icon="true"
          ng-model="dateTimeEdit"
          name="datetimeedit"
          class=" dtp-no-msclear dtp-input md-input"
        />
      </mat-form-field>
      </div>
      <div>
        <div>
          Что будет проходить
        </div>
        <mat-form-field class="title">
        <input matInput formControlName="name" />
      </mat-form-field>
        <mat-button>
        <button mat-raised-button color="primary" type="submit" (click)="createEvent()">записать</button>
      </mat-button>
      </div>
    </form>
    <form [formGroup]="Event">
      <div>
        Номер события, чтобы удалить
      </div>
      <mat-form-field class="title">
      <input matInput formControlName="numberEvent" />
    </mat-form-field>
      <mat-button>
      <button mat-raised-button color="primary" type="submit" (click)="deleteEvent()">Удалить</button>
    </mat-button>
    </form>
  </div>
  <div>
    <div class="kolbasa" *ngFor="let event of events">
      <div class="kolbasa_element">Номер {{ event.id | json }}</div>
      <div>Событие {{ event.name | json }}</div>
      <div>Начало {{ event.startAt | json }}</div>
      <div>Конец {{ event.endAt | json }}</div>
    </div>
  </div>
</div>

